.entry-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.5rem;
    font-size: 4rem;
}

.play {
    border: 0;
    background: none;
    display: contents;
    color: var(--secondary-color);
    cursor: pointer;
}

.play:hover .play-fill {
    fill: var(--secondary-color);
}

.play:hover circle {
    opacity: 1;
}

.play:hover path {
    fill: white;
}

.phonetic {
    font-size: 1.5rem;
    color: var(--secondary-color);
}