.entry-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.5rem;
    font-size: 4rem;
}

.play {
    border: 0;
    background: none;
}

.play-fill {
    fill: var(--secondary-color);
}

.play-fill:hover {
    fill: var(--secondary-color);
}

.play:focus .play-fill {
        fill: var(--secondary-color);
}


.phonetic {
    font-size: 1.5rem;
    color: var(--secondary-color);
}