.meaning {
    margin: 1.5rem 0 2rem;
}

.part-of-speach {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.part-of-speach:after {
    display: inline-block;
    content: "";
    height: 1px;
    background: var(--accent-grey);
    position: relative;
    width: 100%;
    margin-left: 1rem;
  }

.definitions {
    padding-left: 1.5rem;
}

.definitions li {
    margin-bottom: 1rem;
}

.definition-example {
    margin-top: .5rem;
    color: var(--accent-grey);
}