.meaning {
    margin: 1.5rem 0 2rem;
}

.part-of-speach {
    margin-bottom: 2rem;
}

.definitions {
    padding-left: 1.5rem;
}

.definitions li {
    margin-bottom: 1rem;
}

.definition-example {
    margin-top: .5rem;
    color: #757575;
}