.App.light {
  --bg-color: white;
  --search_background:#F4F4F4;
}

.App.dark {
  --text-color: white;
  --bg-color: #050505;
  --search_background:#1F1F1F;
  --definition-example-text: #757575;
}

.App {
  text-align: left;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);

  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  text-decoration: none;
  line-height: 1.25;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 737px;
  margin: auto;
  padding: 1.5rem;
}

main {
  max-width: 737px;
  margin: auto;
  padding: 0 1.5rem;
}

.search {
  background: var(--search_background);
  padding: 1rem .75rem;
  border-radius: 1rem;
  width: 100%;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}